<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gmail.safecart">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SafeCart"
        android:dataExtractionRules="@xml/data_extraction_rules"
        tools:targetApi="s">
        <activity
            android:name=".items.MyItemsActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".loyaltyCard.LoyaltyCardViewActivity"
            android:label="@string/card"
            android:parentActivityName=".loyaltyCard.MyCardsActivity" />
        <activity
            android:name=".loyaltyCard.CardScannerActivity"
            android:label="@string/Add_loyalty_card"
            android:parentActivityName=".loyaltyCard.MyCardsActivity" />
        <activity
            android:name=".premiumAccount.PremiumAccountActivity"
            android:label="@string/go_premium"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".loyaltyCard.MyCardsActivity"
            android:label="@string/my_cards"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".blacklist.BlacklistActivity"
            android:label="@string/blacklist"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".trash.TrashActivity"
            android:label="@string/trash"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".productScanner.Capture"
            android:screenOrientation="sensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme" />
    </application>

</manifest>